body {
    background-color: #121212;
    color: #EAEAEA;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1A1A1A;
    padding: 15px;
    border-bottom: 1px solid #2E2E2E;
}

nav {
    background-color: #1A1A1A;
    display: inline-flex;
    width: 100%;
}

nav ul {
    width: 100%;
    background-color: #1A1A1A;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 20px;
}

header nav a {
    font-size: 30px;
    color: #EAEAEA;
}

header nav a:hover {
    color: #00DCA6;
}

main {
    height: 100%;
    width: 100%;
}

main h1 {
    color: #EAEAEA
}

.teams-section {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.teams-section-div {
    background-color: #2E2E2E;
    width: 250px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

section img {
    height: 80px;
    width: 80px;
}

section a {
    color: #EAEAEA;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 200px;
    padding: 5px;
    margin: 5px;
}

section a:hover {
    transform: scale(1.1);
}